{
  "useTabs": true,
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "parser": "typescript",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "useTabs": false,
        "parser": "json"
      }
    }
  ],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
